<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8OaqZbXH3QHzPBN5E82p_09Hmu5rmGeU</string>
	<key>GCM_SENDER_ID</key>
	<string>381342175210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cvs.consumer-app</string>
	<key>PROJECT_ID</key>
	<string>cvsr-296e3</string>
	<key>STORAGE_BUCKET</key>
	<string>cvsr-296e3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381342175210:ios:19f5add0dbc5a7e983ec93</string>
</dict>
</plist>